body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fae1dd;
    margin: 0;
}

.contenedor {
    position: relative;
}

.superior{
    position: absolute;
    border-left: 230px solid transparent;
    border-right: 230px solid transparent;
    border-top: 170px solid #cf6565;
    border-bottom: 170px solid transparent;

    transition: transform .75s;
    transform-origin: top;
}

.mensaje{
    position: absolute;
    padding: 2.2rem;
    line-height: 1.3rem;
    box-sizing: border-box;
    text-align: center;
    font-family: "Satisfy", cursive;
    font-size: 22px;
    background: #fdebc4;
    z-index: -1;
    width: 460px;
    height: 340px;
    transition: transform 0.75s ease-in-out;
    
}

.mensaje:before{
    content: "";
    border-style: dotted;
    position: absolute;

    top: 17px;
    left: 17px;
    right: 17px;
    bottom: 16px;

}

.mensaje p{
    position: relative;
    top: -10px;
    font-size: 1.2rem;
}

.carta{
    border-left: 230px solid #f8ad9d;
    border-right: 230px solid #f08080;
    border-top: 170px solid transparent;
    border-bottom: 170px solid #f8ad9d;
}

.bx{
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    top: 138px;
    right: 200px;
    animation: palpitar 0.6s linear infinite;

}

.psorpresa{
    margin-top: -10px;

}

.botones{ 
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.boton{
    padding: 10px 20px ;
    background: linear-gradient(135deg,#fdbdbd,#fdbdbd);
    background-size: 200% 200%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

}

.boton:hover{
    background-position: 100%, 100%;
    box-shadow:  0 6px 15px rgba(0, 0, 0, 0.6);
}

.abrir-superior {
    transform: rotateX(180deg);
}

.abrir-mensaje {
    transform: translateY(-188px);
}

.bx-rotada {
    color:#fccaca ;
    animation: none;
}

@keyframes palpitar {
    0%{
        transform: scale(1.0); 
    }
    80%{
        transform: scale(1.0);
    }
        
    100%{
        transform: scale(1.08);
    }
}

@media (max-width: 768px) {


.mensaje:before{
    content: "";
    border-style: dotted;
    position: absolute;

    top: 17px;
    left: 17px;
    right: 17px;
    bottom: 16px;

}

.mensaje p{
    position: relative;
    top: -15px;
    font-size: 1rem;
}
}